[build]
publish = "public"
command = "npm run build"
functions = "functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy= "upgrade-insecure-requests"
    Referrer-Policy = "no-referrer-when-downgrade"
    Permissions-Policy = '''
    camera=(),
    microphone=(),
    geolocation=()'''
